<p>Hey {{name}},</p>
<p>
  Are you ready to gain access to all of the assets we prepared for clients of
  <b>Bookary</b>
</p>
<p>
  First, you must complete your registration by clicking on the button below:
</p>
<p>
  <a href="{{url}}">Verify Now</a>
</p>

<p>Welcome to Bookary!</p>
<p>Bookary Team</p>

<p>If you did not request this email you can safely ignore it.</p>
